//
   Created by vita on 12/9/14.
script(src="./scripts/app.js")
script(src="./scripts/route.js")
script(src="./scripts/run.js")

script(src="./scripts/config/global.js")
script(src="./scripts/services/auth.js")
script(src="./scripts/services/global.js")