// nav
ul.nav.nav-tabs(role="tablist")
  li(role="presentation")
    a(href="../../pages/talent_pool/index.html")
      i.fa.fa-cloud
      | Talent pool
  li(role="presentation")
    a(href="../../pages/handlers/index.html")
      i.fa.fa-users
      | Handlers
  li(role="presentation")
    a(href="../../pages/job_position/index.html")
      i.fa.fa-th-list
      | Job positions
  li(role="presentation")
    a(href="../../pages/settings/index.html")
      i.fa.fa-cog
      | Settings
// #nav
