// footer
.footer
  ul.list-inline
    li.footers
      a(href="#") About
    li.footers
      a(href="#") Careers
    li.footers
      a(href="#") Privacy
    li.footers
      a(href="#") Security
    li.footers
      a(href="#") Terms
    li.footers1
      a(href="#") Contact
  small Copyright 2014 Supmice Technology Co.,Ltd.All rights reserved. - English
// #footer