div

  div(
  ng-include="'./common/navbar/navbar_index.html'"
  )

  // home_kv
  .container-fluid.home_kv.kv_people
    .row
      .hidden-xs.hidden-sm
        .kv_clouds
          .kv_talents
            .col-md-6.col-md-offset-6.kv_text
              h1.header Talents Management
              h4 Best choice for strat-up companies
              a.logbtn.btn(href="../../pages/activiate/index.html") Sign up now
              p
                | or
                | &nbsp;
                a(href="../../pages/login/index.html") Sign in
              .kv_arrow
                img(src="img/kv_arrow.png")
  .container-fluid.home_kv.kv_clouds1
    .row
      .hidden-md.hidden-lg
        .kv_text
          h1.header Talents Management
          h4 Best choice for strat-up companies
          a.logbtn.btn(href="../../pages/activiate/index.html") Sign up now
          p
            | or
            | &nbsp;
            a(href="../../pages/login/index.html") Sign in

  // des
  .container-fluid.description
    .description_text
      p.intext.cf_intext
        | Sed ut perspiciatis unde omnis iste natus
        | error sit voluptatem accusantium doloremque laudantium.totam rem aperiam,
        | eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        | dicta sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit aspernatur
        | aut odit aut fugit,sed quia consequuntur
        | Sed ut perspiciatis unde omnis iste natus
        | error sit voluptatem accusantium doloremque laudantium.totam rem aperiam,
        | eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        | dicta sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit aspernatur
        | aut odit aut fugit,sed quia consequuntur
        | Sed ut perspiciatis unde omnis iste natus
        | error sit voluptatem accusantium doloremque laudantium.totam rem aperiam,
        | eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        | dicta sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit aspernatur
        | aut odit aut fugit,sed quia consequuntur

  // manage_talent
  .container-fluid.manage_talent
    h1.head.text-center Easily manage Thousands of resumes
    .mt_intext
      p.intext
        | Lorem ipsum dolor sit amet,consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        | Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat.mollit anim id est laborum.

  // jointly_manage
  .container-fluid.jointly_manage.jm_hr
    .row
      h1 Jointly managed talent pool for HR
      .jm_doc
        img(src="img/jm_doc.png")
      .col-md-4.col-md-offset-4.jm_intext
        p.intext
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          | accusantium doloremque laudantium.

  // create_minisite
  .container.create_minisite
    p.ltext.hidden-xs.hidden-sm.hidden-md
      | Sed ut perspiciatis unde omnis iste natus error sit
      | voluptatem accusantium doloremque laudantium,
      | totam rem aperiam.
    h1.text-center Built-in minisite for social recruitment
    p.hidden-lg
      | Sed ut perspiciatis unde omnis iste natus error sit
      | voluptatem accusantium doloremque laudantium,
      | totam rem aperiam.
    img.cm_ipad.hidden-xs.hidden-sm.hidden-md(src="img/cm_ipad.png")
    img.cm_iphone.hidden-xs.hidden-sm.hidden-md(src="img/cm_iphone.png")
    img.cm_roll1.hidden-xs.hidden-sm.hidden-md(src="img/cm_roll1.png")
    img.cm_roll2.hidden-xs.hidden-sm.hidden-md(src="img/cm_roll2.png")
    img.cm_weixin.hidden-xs.hidden-sm.hidden-md(src="img/cm_weixin.png")
    .cm_imac
      img(src="img/cm_imac.png")
    ul.rtext.hidden-xs.hidden-sm.hidden-md
      li Eaque ipsa quae ab illo inventore vertatis et.
      li Quasi architecto beatae vitae dicta sunt
      li Nemo enim ipsam voluptatem qula voluptas sit aspernatur aut odit aut fugit.
    ul.hidden-lg
      li Eaque ipsa quae ab illo inventore vertatis et.
      li Quasi architecto beatae vitae dicta sunt
      li Nemo enim ipsam voluptatem qula voluptas sit aspernatur aut odit aut fugit.

  // organize_interview
  .container-fluid.organize_interview
    .row
      h1.text-center Organize interview arrangments
      img(src="img/oi_hr.png")
      img(src="img/oi_location.png")
      img(src="img/oi_time.png")
      img(src="img/oi_mail.png")
      img(src="img/oi_person.png")
      .col-md-4.col-md-offset-4
        p.intext
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          | laudantium,totam rem aperiamen ipsum dolor sit amet.

  // customize_form
  .container.customize_form
    p.ltext.hidden-xs.hidden-sm.hidden-md
      | Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do
      | eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row
      h1 Customize unique application form
      p.hidden-lg
        | Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua.
      img(src="img/cf_air.png")
    ul.rtext.hidden-xs.hidden-sm.hidden-md
      li Eaque ipsa quae ab illo inventore vertatis et.
      li Quasi architecto beatae vitae dicta sunt.
      li Nemo enim ipsam voluptalem quia voluptas sit aspernatue aut odit aut fugit.
      li magni dolores eos qui ratione voluptatem.
    ul.hidden-lg
      li Eaque ipsa quae ab illo inventore vertatis et.
      li Quasi architecto beatae vitae dicta sunt.
      li Nemo enim ipsam voluptalem quia voluptas sit aspernatue aut odit aut fugit.
      li magni dolores eos qui ratione voluptatem.
    img.cf_dialog.hidden-xs.hidden-sm.hidden-md(src="img/cf_dialog.png")

  // more_features
  .container.more_features
    .row
      .col-md-4.col-sm-12.col-xs-12
        .col-md-2.col-sm-2.col-xs-2
          img(src="img/mf_pc.png")
        .col-md-10.col-sm-10.col-xs-10
          .col-md-11.col-md-offset-1
            h4 Cross platform support
            p
              | Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-md-4.col-sm-12.col-xs-12
        .col-md-2.col-sm-2.col-xs-2
          img(src="img/mf_cloud.png")
        .col-md-10.col-sm-10.col-xs-10
          .col-md-11.col-md-offset-1
            h4 Unlimited cloud storage
            p
              | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiiat nulla pariatur.
      .col-md-4.col-sm-12.col-xs-12
        .col-md-2.col-sm-2.col-xs-2
          img(src="img/mf_lock.png")
        .col-md-10.col-sm-10.col-xs-10
          .col-md-11.col-md-offset-1
            h4 Security and privacy
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
