doctype html
html(lang="en", ng-app="juloloApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Julolo

    link(rel="stylesheet", type="text/css", href="./styles/libs/font-awesome.css")
    link(rel="stylesheet", type="text/css", href="./styles/libs/ubuntu.css")
    link(rel="stylesheet", type="text/css", href="./styles/libs/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="./styles/style.css")

  body

    div(ng-view="")

    include ./common/footer/footer

    script(src="./scripts/libs/lodash.js")
    script(src="./scripts/libs/then.js")
    script(src="./scripts/libs/angular.js")
    script(src="./scripts/libs/angular-lodash.js")
    script(src="./scripts/libs/angular-thenjs.js")
    script(src="./scripts/libs/angular-route.js")
    script(src="./scripts/libs/angular-resource.js")
    script(src="./scripts/libs/angular-cookies.js")
    script(src="./scripts/libs/jquery.js")
    script(src="./scripts/libs/bootstrap.js")
    script(src="./scripts/libs/ui-bootstrap.js")
    script(src="./scripts/libs/restangular.js")

    // -- JS --
    include ./scripts/scripts
    include ./app/user/scripts



